// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.form-control {
    border: 1px solid transparent;
}

// .form-control.valid {
//     border-color: green;
// }

.form-control.invalid {
    border-color: red;
}

.errors {
    color: red;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-20 {
    margin-top: 20px;
}

.success-msg {
    color: green;
}
